<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="background">

  <div class="whole_border">
    <div class="block">
    </div>

    <div class="img_background">
      <div class="img_container">
        <img src="./assets/cat.png" style="width: 100px" alt="image here">
      </div>
    </div>

    <div class="p1_container">
      <div class="p1_word_style">
        Welcome to Vincent's SampleSite!
      </div>
    </div>

    <div class="p2_container">
      <div class="p2_word_style">
        Now, please
      </div>
    </div>

    <div class="button_container">
      <div class="login_btn_div">
        <button class="btn login_button" [routerLink]="['/login']">
            <!-- 
            
            -->
          Log in
        </button>
      </div>

      <span class="or_word p1_word_style">or</span>

      <div>
        <button class="btn sign_button" [routerLink]="['/signup']">
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>

